.btn-transparent {
    color: #202124;
    background-color: transparent;
  }
  .btn-transparent:hover, .btn-transparent:focus, .btn-transparent:active, btn-transparent:active:focus {
    color: #202124;
    background-color: transparent;
    border-color: transparent;
  }
  