.bg-custom-gray {
  background-color: #dbdce0 !important;
}

.bg-custom-primary {
  background-color: #4285f4 !important;
  color: #fff !important;
}

.custom-brd-radius {
  border-radius: 7px !important;
}

.btn:focus {
  box-shadow:0 0 0 1px #202124 !important;
}

.color-custom-gray {
  color: #70757a !important;
}

.font-2 {
  font-size: 2rem !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.custom-border-start {
  border-left: 1px solid #70757a !important;
}


.custom-width {
  width: 69.2% !important;
}